<div class="text-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit($event)"
    class="form-signin">
    <h2 class="h3 mb-3 font-weight-normal text-primary">Please log in</h2>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" formControlName="email"
      placeholder="Email" class="form-control">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" formControlName="password"
      placeholder="Password" class="form-control">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"><span class="text-secondary"> Remember me</span>
      </label>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      [ngClass]="{
          'btn btn-lg btn-block': true,
          'btn-secondary': loginForm.valid,
          'btn-outline-secondary': loginForm.invalid}">Log in</button>
    <div class="social mt-4">
      <button (click)="onLoginByProvider('facebook')" class="btn btn-link">
        <i class="fab fa-facebook-square text-secondary" title="facebook"><span class="sr-only">facebook</span></i>
      </button>
      <button (click)="onLoginByProvider('github')" class="btn btn-link">
        <i class="fab fa-github text-secondary" title="github"><span class="sr-only">github</span></i>
      </button>
      <button (click)="onLoginByProvider('twitter')" class="btn btn-link">
        <i class="fab fa-twitter text-secondary" title="twitter"><span class="sr-only">twitter</span></i>
      </button>
      <button (click)="onLoginByProvider('google')" class="btn btn-link">
        <i class="fab fa-google text-secondary" title="google"><span class="sr-only">google</span></i>
      </button>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
      <small *ngIf="email.errors['required']" >
        Email is required.
      </small>
      <small *ngIf="email.errors['email']">
        Valid Email is required.
      </small>
      <small *ngIf="email.errors['userNotFound']">
        This email user was not found. Provide a valid email is required.
      </small>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-text text-danger">
      <small *ngIf="password.errors['required']" >
        Password is required.
      </small>
      <small *ngIf="password.errors['minlength']">
        Password must be 8-20 characters long.
      </small>
      <small *ngIf="password.errors['maxlength']">
        Password must be 8-20 characters long.
      </small>
    </div>
  </form>
</div>
