.progress {
  height: 0.1875rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.progress .progress-bar {
  height: 1rem;
  border-radius: .5rem 0 0 0;
  width: 100%
}

.favorite {
  font-size:2.45rem;
}

.time {
  font-size: 1.5rem;
  line-height: 1.3125rem;
  color: #6c757d;
}

.showdown {
  word-wrap: break-word;
  font-size: 1rem;
  color: #212529;
}

.showdown ul,
.showdown ol {
  padding-left: 1.8em;
}

