<form #postForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="contents" class="d-none">body</label>
        <textarea
          id="contents"
          rows="3"
          required
          minlength="2"
          maxlength="2048"
          [(ngModel)]="post.contents"
          name="contents"
          [ngClass]="{
            'form-control mb-0 editor': true,
            'position-absolute': preview
          }"
          [style.visibility]="!preview ? 'visible' : 'hidden'"></textarea>
        <div
          *ngIf="preview"
          [innerHTML]="post.contents | showdown"
          class="form-control preview"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group btn-group-sm float-left" role="group">
        <button
          type="button"
          (click)="onPreview(false)"
          [ngClass]="{
            'btn btn-outline-info': true,
            'active': !preview
          }">write</button>
        <button
          type="button"
          (click)="onPreview(true)"
          [ngClass]="{
            'btn btn-outline-info': true,
            'active': preview
          }">preview</button>
      </div>
      <div class="float-right">
        <button
          type="submit"
          [disabled]="!postForm.valid"
          [ngClass]="{
            'btn btn-sm': true,
            'btn-outline-danger': !postForm.valid,
            'btn-danger': postForm.valid
          }">SUBMIT</button>
        <button
          *ngIf="mode === 'update'"
          type="button"
          (click)="onCancel()"
          class="btn btn-sm btn-link text-secondary">CANCEL</button>
      </div>
    </div>
  </div>
</form>
