<h2>login</h2>

<ng-container *ngIf="!user">
  <p>hello!</p>
  <ul>
    <li>
      <a href="#" (click)="onClickSignIn($event, 'github')">github login</a>
    </li>
    <li>
      <a href="#" (click)="onClickSignIn($event, 'google')">google login</a>
    </li>
    <li>
      <a href="#" (click)="onClickSignIn($event, 'facebook')">facebook login</a>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="user">
  <p>hello {{ user.displayName }}!</p>
  <div><img [src]="user.photoURL" width="100" [alt]="user.displayName"></div>
  <ul>
    <li>
      <a [routerLink]="['/']">홈으로</a>
    </li>
    <li>
      <a href="#" (click)="onClickSignOut($event)">logout</a>
    </li>
  </ul>
</ng-container>
