<h2> channel list</h2>

<ul *ngFor="let channel of channelList$ | async">
  <li>
    title:
    {{ channel.title }}
  </li>
  <li>
    code:
    <a [routerLink]="[channel.id, 'posts']">
      {{ channel.code }}
    </a>
  </li>
  <li>
    desc:
    {{ channel.desc }}
  </li>
  <li>
    start:
    {{ channel.start.toDate().toLocaleString() }}
  </li>
  <li>
    end:
    {{ channel.end.toDate().toLocaleString() }}
  </li>
  <li>
    <a [routerLink]="[channel.id, 'edit']">
      수정
    </a>
  </li>
  <li>
    <a href="#" (click)="onClickDeleteChannel($event, channel)">
      삭제
    </a>
  </li>
</ul>
