<div class="navbar bg-white breadcrumb-bar">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li class="breadcrumb-item active">
        Channel List
      </li>
    </ol>
  </nav>
  <!-- <div class="dropdown">
    <button class="btn btn-round" data-toggle="dropdown">
      <i class="fas fa-cog text-black-50" title="settings">
        <span class="sr-only">settings</span>
      </i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a *ngIf="isChannelOwner" [routerLink]="['/channels', channel.code, 'edit']" class="dropdown-item">
        Edit Channel
      </a>
      <button type="button" class="btn btn-link dropdown-item" (click)="share()">
        Share Channel
      </button>
    </div>
  </div> -->
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col px-5">
      <div class="page-header">
        <h1>Channel List</h1>
        <p class="lead">Askers Channel List You Created.</p>
      </div>
      <div class="row justify-content-center mt-4 px-2">
        <div class="col-auto">
          <label class="mb-0 sr-only">Sort By:</label>
          <div class="btn-group btn-group-sm ml-2">
            <button
              type="button"
              (click)="onSortBy({ field: 'code', order: 'asc' })"
              [ngClass]="{
                'btn btn-outline-secondary': true,
                'active': sortByFlag === 'codeasc'}">
              Code ↓
            </button>
            <button
              type="button"
              (click)="onSortBy({ field: 'code', order: 'desc' })"
              [ngClass]="{
                'btn btn-outline-secondary': true,
                'active': sortByFlag === 'codedesc'}">
              code ↑
            </button>
            <button
              type="button"
              (click)="onSortBy({ field: 'created', order: 'asc' })"
              [ngClass]="{
                'btn btn-outline-secondary': true,
                'active': sortByFlag === 'createdasc'}">
              created ↓
            </button>
            <button
              type="button"
              (click)="onSortBy({ field: 'created', order: 'desc' })"
              [ngClass]="{
                'btn btn-outline-secondary': true,
                'active': sortByFlag === 'createddesc'}">
              Created ↑
            </button>
          </div>
        </div>
      </div>
      <div class="content-list-body mt-2">
        <div class="card-list">
          <div class="card-list-body">
            <div
             *ngFor="let channel of channels$ | async"
              class="card card-task">
              <div class="progress">
                <div
                  class="progress-bar bg-success"
                  style="width: 100%"></div>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <a [routerLink]="['/channels', channel.code, 'posts']">
                    <h4 data-filter-by="text">
                      {{ channel.code }}
                    </h4>
                  </a>
                  <div>
                    <i class="fas fa-paragraph">
                      <span class="sr-only">desc</span>
                    </i>
                    <span class="ml-2">{{ channel.title }}</span>
                  </div>
                  <div class="mt-1">
                    <i class="fas fa-calendar-alt">
                      <span class="sr-only">date</span>
                    </i>
                    <span class="ml-2">
                      {{ channel.start | fsTimestamp | date:'yyyy.MM.dd HH:mm:ss' }}
                      ~
                      {{ channel.end | fsTimestamp | date:'yyyy.MM.dd HH:mm:ss' }}
                    </span>
                  </div>
                </div>
                <div class="card-meta">
                  <div class="dropdown card-options">
                    <button
                      class="btn-options"
                      type="button"
                      data-toggle="dropdown">
                      <i class="fas fa-ellipsis-v" title="more">
                        <span class="sr-only">more</span>
                      </i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" [routerLink]="['/channels', channel.code, 'edit']">Edit</a>
                      <!-- <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#">Delete</a> -->
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
