<main role="main" class="cover h-100">
  <div class="container">
    <h1 class="cover-heading1">Hello! <span class="user">{{ (user ? user.displayName : 'askers') | uppercase }}.</span></h1>
    <h2 class="cover-heading2">Every Question Matters!</h2>
    <p class="lead text-dark">
      The Ultimate Q&A Platform for Company Meetings and Events.<br>
      Perfect for high-performing teams as well as top events.
    </p>
    <form #joinForm="ngForm" (ngSubmit)="onJoin()" class="form-inline">
      <div class="form-group mr-3">
        <label for="channel" class="sr-only">Channel</label>
        <input
          type="text"
          id="channelCode"
          [ngModel]="channelCode | lowercase | snakecase"
          (ngModelChange)="channelCode=$event"
          name="channelCode"
          minlength="4"
          maxlength="24"
          placeholder="channel"
          class="form-control form-control-lg"
          autocomplete="off"
          required autofocus />
      </div>
      <div class="form-group">
        <button
          type="submit"
          [disabled]="!joinForm.valid"
          [ngClass]="{
              'btn btn-lg mr-3': true,
              'btn-dark': joinForm.valid,
              'btn-outline-dark': joinForm.invalid}">
            <i *ngIf="submitted" class="fas fa-circle-notch fa-spin" title="joinning"><span class="sr-only">joinning</span></i>
            <span *ngIf="!submitted">Join</span>
          </button>
          <span class="font-weight-bold text-black-50 mr-2" style="font-size:1.5em">or</span>
          <a [routerLink]="['/channels', 'new', 'edit']" [queryParams]="{channelCode: channelCode}" class="btn btn-lg btn-link p-0 text-dark font-weight-bold" style="font-size:1.75em">Create</a>
      </div>
    </form>
    <div class="mt-2">
      <a *ngIf="!user.authenticated" [routerLink]="['/login']" class="btn btn-lg btn-link text-dark font-weight-bold p-0">Login</a>
      <button *ngIf="user.authenticated" (click)="onLogout()" class="btn btn-lg btn-link text-dark font-weight-bold p-0">Logout</button>
      <a *ngIf="user.authenticated" [routerLink]="['/channels']" class="btn btn-lg btn-link text-dark font-weight-bold p-0 ml-2">My Channels</a>
    </div>
  </div>
</main>
